body{
  background-color: rgb(201, 206, 150);
  display:flex;
  align-items: space-between;

}

#rh {

  display: block;
  width:280px;
  height:auto;
  border: 1px solid black;
  text-align: center;
  padding-top: 10px;
  border-radius: 20px;
  background-color: rgba(104, 208, 75, 0.811);
  border-style: none;
  margin: auto;
  padding-bottom: 15px;
  margin-top:30px;

}

h1 {
  
    font-size: 30px;
    font-weight: bold;
    color: rgb(74, 58, 58);
    text-align: center;
  
  
}

button {

  width: 180px;
  height: 44px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(202, 11, 216);
  color: white;
  font-weight: bold;
  
  cursor: pointer;
  transition: opactiy 0.5s ease;
  font-size: 20px;

}

button:hover {
  background-color: rgb(83, 65, 107);

}

button:active {
  background-color: rgba(85, 58, 124, 0.995);
  opacity: 0.5;
}

#clr {

  width:140px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(74, 58, 58);
  color: white;
  font-weight: bold;
}

p {
  color:aliceblue;
  font-weight: bold;
  color:rgb(71, 62, 50);
  font-size:20px;
}
