body{
  background-color: rgb(0, 5, 50);
  display:flex;
  align-items: space-between;
  font-family: Arial, Helvetica, sans-serif;

}

#rh {

  display: block;
  width:350px;
  height:auto;
  border: 1px solid black;
  text-align: center;
  padding-top: 10px;
  border-radius: 20px;
  border-style: none;
  margin: auto;
  padding-bottom: 15px;
  margin-top:30px;
  opacity: 0.9;
  

}

h1 {
  
    font-size: 30px;
    font-weight: bold;
    color: rgb(228, 222, 222);
    text-align: center;
    margin-bottom: 45px;
  
  
}

button {

  width: 180px;
  height: 44px;
  border-radius: 10px;
  border-style: none;
  background-color: rgba(103, 156, 235, 0.444);
  color: white;
  font-weight: bold;
  
  cursor: pointer;
  transition: opactiy 0.5s ease;
  font-size: 20px;

}

button:hover {
  background-color: rgba(62, 101, 207, 0.625);

}

button:active {
  background-color: rgba(18, 49, 224, 0.881);
  opacity: 0.5;
}

#clr {

  width:auto;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: rgba(74, 58, 58, 0.562);
  font-size: 15px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

p {
  color:aliceblue;
  font-weight: bold;
  color:rgb(232, 227, 218);
  font-size:20px;
}
